@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');


/* ini tinggal edit edit aja buat css nya */

.cssText{
    font-weight: 300;
    font-family: 'Young Serif';
    font-size: larger;
    /* ini contoh buat di home.blade.php */
}

body{
    /* background-color: #ffeacd; */
    background-image: url('/images/alternate.jpg');
}
/* .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2a3f60;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
    } */

.link-primary{
    color: #C08552 !important ;
    text-decoration: none;
}

.links{
    font-weight: 250;
}

.Contents
{
    padding: 20px;
}

.img{
    max-width: 40rem;
}

.profile-img{
    width: 2.5rem;
    height: 2.5rem;
    aspect-ratio: 1;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5E3023;
    color: white;
    text-align: center;
}
